@import "compass/css3";
@import "_bits";

.stag-tabs, .stag-toggle, .stag-video {
  margin: 0 0 2em 0;
}

/* BUTTONS */
.stag-button {
  -webkit-appearance: none;
  background: #979797;
  color: #fff;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 0;
  -webkit-font-smoothing: inherit;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  text-align: center;
  margin: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.stag-button:hover {
  color: #fff;
  text-decoration: none;
}

.stag-button--normal:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.stag-button--medium {
  font-size: 18px;
  padding: 17px 22px;
}

.stag-button--large {
  font-size: 20px;
  padding: 22px 40px;
}

.stag-button--grey {
  background: #979797;
}

.stag-button--black {
  background: #000;
}

.stag-button--green {
  background: #84c333;
}

.stag-button--yellow {
  background: #ffd164;
}

.stag-button--dark {
  background: #363f48;
}

.stag-button--light {
  background: whitesmoke;
  color: #a9a9a9;
}

.stag-button--light:visited {
  color: #a9a9a9 !important;
}

.stag-button--blue {
  background: #1b93c7;
}

.stag-button--light-blue {
  background: #56c3f2;
}

.stag-button--red {
  background: #d15858;
}

.stag-button--orange {
  background: #fc901d;
}

.stag-button--purple {
  background: #c16ad7;
}

.stag-button--stroke {
  background: transparent;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.stag-button--stroke.stag-button--grey {
  border-color: #979797;
  color: #979797 !important;
}
.stag-button--stroke.stag-button--grey:hover {
  background: #979797;
  color: white !important;
}
.stag-button--stroke.stag-button--black {
  border-color: black;
  color: black !important;
}
.stag-button--stroke.stag-button--black:hover {
  background: black;
  color: white !important;
}
.stag-button--stroke.stag-button--green {
  border-color: #84c333;
  color: #84c333 !important;
}
.stag-button--stroke.stag-button--green:hover {
  background: #84c333;
  color: white !important;
}
.stag-button--stroke.stag-button--yellow {
  border-color: #ffd164;
  color: #ffd164 !important;
}
.stag-button--stroke.stag-button--yellow:hover {
  background: #ffd164;
  color: white !important;
}
.stag-button--stroke.stag-button--dark {
  border-color: #363f48;
  color: #363f48 !important;
}
.stag-button--stroke.stag-button--dark:hover {
  background: #363f48;
  color: white !important;
}
.stag-button--stroke.stag-button--light {
  border-color: whitesmoke;
  color: whitesmoke !important;
}
.stag-button--stroke.stag-button--light:hover {
  background: whitesmoke;
  color: #a9a9a9 !important;
}
.stag-button--stroke.stag-button--blue {
  border-color: #1b93c7;
  color: #1b93c7 !important;
}
.stag-button--stroke.stag-button--blue:hover {
  background: #1b93c7;
  color: white !important;
}
.stag-button--stroke.stag-button--light-blue {
  border-color: #56c3f2;
  color: #56c3f2 !important;
}
.stag-button--stroke.stag-button--light-blue:hover {
  background: #56c3f2;
  color: white !important;
}
.stag-button--stroke.stag-button--red {
  border-color: #d15858;
  color: #d15858 !important;
}
.stag-button--stroke.stag-button--red:hover {
  background: #d15858;
  color: white !important;
}
.stag-button--stroke.stag-button--orange {
  border-color: #fc901d;
  color: #fc901d !important;
}
.stag-button--stroke.stag-button--orange:hover {
  background: #fc901d;
  color: white !important;
}
.stag-button--stroke.stag-button--purple {
  border-color: #c16ad7;
  color: #c16ad7 !important;
}
.stag-button--stroke.stag-button--purple:hover {
  background: #c16ad7;
  color: white !important;
}

.stag-intro-text {
  font-size: 135%;
  margin-bottom: 3em;
  display: block;
}

/* ALERTS */
.stag-alert {
  padding: 21px 15px;
  margin: 30px 0;
  text-align: center;
  color: #fff;
}

.stag-alert--white {
  background: #f5f5f5;
  color: #bcbcbc;
}

.stag-alert--grey {
  background: #979797;
}

.stag-alert--red {
  background: #d15858;
}

.stag-alert--yellow {
  background: #ffd164;
}

.stag-alert--green {
  background: #84c333;
}

.stag-alert--blue {
  background: #1b93c7;
}

.stag-dropcap {
  display: block;
  float: left;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
}

.stag-dropcap--squared {
  background: #363f48;
  color: #fff;
}

/* DIVIDER */
.stag-divider {
  border: 0;
  height: 1px;
  background: #363f48;
}

.stag-divider--strong {
  height: 7px;
}

.stag-divider--double {
  height: 7px;
}
.stag-divider--double:after {
  content: '';
  display: block;
  border-bottom: 1px solid #363f48;
  position: relative;
  top: 10px;
}

.stag-divider--dashed {
  background: none;
  border-bottom: 1px dashed #363f48;
}

.stag-divider--dotted {
  background: none;
  border-bottom: 1px dotted #363f48;
}

.stag-clearfix:before,
.stag-clearfix:after {
  content: "";
  display: table;
}

.stag-clearfix:after {
  clear: both;
}

.stag-clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.fa {
  display: inline-block;
  margin-right: 0.2em;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.fa:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/*--------------------*/
/*  Tab Styles
/*--------------------*/
.stag-tabs.ui-tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px;
}

.stag-tabs *:focus{
  outline: 0;
}

.stag-tabs .ui-state-active a{
  background-color: white !important;
}

.stag-tabs {
  background: none;
  margin: 0 0 2em 0;
}
.stag-tabs ul.stag-nav {
  list-style: none!important;
  margin: 0!important;
  padding: 0;
  background: none;
  border: 0;
  float: none;
  text-transform: uppercase;
  font-weight: bold;
}
.stag-tabs ul.stag-nav li {
  float: left;
  position: relative;
  margin: 0 4px 10px 0 !important;
  z-index: 10;
  list-style: none!important;
}
.stag-tabs ul.stag-nav li a {
  border: 1px solid #dfdfdf!important;
  // border-bottom: none!important;
  display: block;
  overflow: hidden;
  // padding: 5px 10px 0 10px;
  padding: 10px 20px;
  line-height: 1;
  // height: 26px;
  // background: #FBFBFB;
  margin: 0!important;
  text-decoration: none;
  color: #919191;
}
.stag-tabs ul.stag-nav li a:hover {
  background: #fff!important;
  margin: 0!important;
}
.stag-tabs ul.stag-nav li.ui-tabs-selected a {
  // height: 27px;
  background: #fff;
}
.stag-tabs .stag-tab {
  background: #fff;
  padding: 20px 0px;
  // border: 1px solid #BBBBBB;
}



/*-----------------------------------------------------------------------------------*/
/*  Toggle Styles
/*-----------------------------------------------------------------------------------*/

.stag-toggle { margin: 0 0 1em 0; }

.stag-toggle .stag-toggle-title {
  display: block;
  padding: 10px 30px 10px 10px;
  // background: #FBFBFB;
  border: 1px solid #dfdfdf;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  position: relative;
  }

// .stag-toggle .stag-toggle-title:hover { border: 1px solid #c5c5c5; }

.stag-toggle-inner {
  padding: 20px 0px;
  background: #fff;
  border-top: none;
  }

.stag-toggle span.ui-icon {
    // background: url(../img/bg-toggle.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22%;
    right: 10px;
    margin: -4px 0 0 0;
    &:before{
      content: '\e015';
      font-family: 'geeklove';
      font-size: 20px;
      color: #dfdfdf;
    }
  }

.stag-toggle .ui-state-active .ui-icon {
  &:before{
    content: '\e014';
    font-size: 4px;
  }
}

.stag-toggle .ui-state-active{
  // color: $linkColor;
}


.stag-image {
  display: inline-block;
}

.stag-image--left {
  float: left;
  margin: 0 1.5em 1em 0;
}

.stag-image--center {
  display: block;
  margin: 1.5em 0;
  text-align: center;
}

.stag-image--right {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.stag-image--grayscale {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
}

.stag-image--sepia {
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  filter: sepia(100%);
}

.stag-image--blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}

.stag-image--hue-rotate {
  -webkit-filter: hue-rotate(50deg);
  -moz-filter: hue-rotate(50deg);
  filter: hue-rotate(50deg);
}

.stag-image--contrast {
  -webkit-filter: contrast(15%);
  -moz-filter: contrast(15%);
  filter: contrast(15%);
}

.stag-image--brightness {
  -webkit-filter: brightness(200%);
  -moz-filter: brightness(200%);
  filter: brightness(200%);
}

.stag-image--invert {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
}

.stag-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.stag-video iframe, .stag-video object, .stag-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .stag-one-half {
    width: 48%;
  }

  .stag-one-third {
    width: 30.66%;
  }

  .stag-two-third {
    width: 65.33%;
  }

  .stag-one-fourth {
    width: 22%;
  }

  .stag-three-fourth {
    width: 74%;
  }

  .stag-one-fifth {
    width: 16.8%;
  }

  .stag-two-fifth {
    width: 37.6%;
  }

  .stag-three-fifth {
    width: 58.4%;
  }

  .stag-four-fifth {
    width: 79.2%;
  }

  .stag-one-sixth {
    width: 13.33%;
  }

  .stag-five-sixth {
    width: 82.67%;
  }

  .stag-one-half,
  .stag-one-third,
  .stag-two-third,
  .stag-three-fourth,
  .stag-one-fourth,
  .stag-one-fifth,
  .stag-two-fifth,
  .stag-three-fifth,
  .stag-four-fifth,
  .stag-one-sixth,
  .stag-five-sixth {
    position: relative;
    margin-right: 4%;
    margin-bottom: 2em;
    float: left;
  }

  .stag-column-last {
    margin-right: 0 !important;
    clear: right;
  }
}



/* Clearfix */
.stag-clearfix:before,
.stag-clearfix:after { content:""; display:table; }
.stag-clearfix:after { clear: both; }
.stag-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/* Author Box Styles */
.stag_author_wrap {
  max-width: 600px;
  padding: 25px 0;
}
.stag_author_wrap .stag_author_gravatar {
  float: left;
  display: block;
  width: 120px;
}
.stag_author_wrap .stag_author_info {
  float: right;
  display: block;
  width: 470px;
}

/* Divider */
.stag-divider{
    border: 0;
    height: 1px;
    margin: 40px 0px;
}
.stag-divider.plain{
  background: #333;
}
.stag-divider.horizontal_gradient{
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.stag-divider.soft_blur{
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}
.stag-divider.dashed_double{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.stag-divider.dashed{
    border-bottom: 1px dashed #ccc;
}
.stag-divider.single_direction_drop_shadow{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
.stag-divider.inset{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.stag-divider.flaired_edges {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-top: 40px;
}
.stag-divider.flaired_edges:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.stag-divider.glyph {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.stag-divider.glyph:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.stag-flickr-widget li{
  display: inline-block;
  margin: 0 5px 5px 0;
}
