.gform_heading {
	text-align: center;
}

body .gform_wrapper h3.gform_title {
	font-size: 51px;
	line-height: 1.2;
	margin: 0;
	font-weight: normal;
}

body .gform_wrapper span.gform_description {
	color: #7C7C7C;
	margin: 5px 0;
	font-size: 23px;
}

body .gform_wrapper .top_label .gfield_label {
	font-weight: normal;
	text-transform: uppercase;
}

body .gform_wrapper .gfield_required {
	color: #c00;
}

body .gform_wrapper ul li.gfield {
	margin: 15px 0;
}


body .gform_wrapper select,
body .gform_wrapper input[type=text],
body .gform_wrapper input[type=url],
body .gform_wrapper input[type=email],
body .gform_wrapper input[type=tel],
body .gform_wrapper input[type=number],
body .gform_wrapper input[type=password] {
	padding: 13px 10px;
	font-size: inherit;
}

body .gform_wrapper .chzn-container {
	font-size: inherit;
}

body .gform_wrapper .ginput_complex label,
body .gform_wrapper .gfield_time_hour label,
body .gform_wrapper .gfield_time_minute label,
body .gform_wrapper .gfield_date_month label,
body .gform_wrapper .gfield_date_day label,
body .gform_wrapper .gfield_date_year label,
body .gform_wrapper .instruction {
	font-size: 14px;
}
